/* * will make it so the properties apply to every single element or tag, in this case, it will make every element have the
line-height set to 140% of the size of the text's font size.
*/
* {
  /* line-height is the amount of space that is specified between one line of text and another for text elements*/
  line-height: 140%;
}

html {
  /* Makes the scroll have a smooth animation when going to a part of the webpage instead of a jump to that location*/
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  /* determines what fonts to use, third font should always be either 
  serif or sans-serif depending on what type of font you are using.

  3 fonts is the ideal amount for any website.
  */
  font-family: "Cambria", Georgia, serif;
  background-color: #ededed;
  font-size: 1.6rem;
}

h3 {
  font-size: 2.4rem;
}
nav {
  display: block;
  background-color: #b3f3ec;
  top: 0;
  overflow: hidden;
  /*Makes the element stick to the screen which means it will still be on-screen, no matter where you are on the webpage
  and if you scroll past it if it were a different postion rather than sticky.
  */
  position: sticky;
  border: 5px solid #121212;
}

h1 {
  display: inline-block;
  font-weight: bold;
  /* this will make it add space that is 4% the size of the parent element which in this case is the nav */
  margin-left: 4%;
  vertical-align: middle;
  font-size: 6.4rem;
  text-transform: uppercase;
}
.nav-item {
  display: inline;
}
#nav-list {
  display: inline;
}
#main-content {
  padding: 20px;
}
.nav-link {
  vertical-align: middle;
  display: inline;
  background: #ededed;
  color: #121212;
  text-decoration: none;
  list-style-type: none;
  margin: 2%;
  padding: 1.5% 2%;
  font-size: 2.4rem;
  font-weight: bold;
  border: 2px solid #121212;
  border-radius: 5px;
}

/* :hover means it will apply the specifc css properties for that element, id (specific element), 
or class (various specific elements) whenever the user hovers over any of the said element on the website.
*/

a:hover,
a:focus {
  padding: 2%;
}

a:active {
  padding: 2%;
  background-color: #cecece;
}

#back-to-top:focus,
#back-to-top:hover {
  padding: 2%;
}

#back-to-top:active {
  padding: 2%;
  background-color: #cecece;
}

main {
  text-align: center;
}

h2 {
  font-size: 4rem;
  font-style: italic;
}

h3 {
  font-size: 2.4rem;
  font-style: italic;
}
ul {
  text-align: left;
  list-style-type: square;
}
.important-text {
  font-style: italic;
  text-decoration: underline;
}

.treaty-one-text {
  font-weight: bold;
  font-style: italic;
}

#back-to-top {
  font-size: 1.6rem;
  text-decoration: none;
  color: #121212;
  background-color: #ededed;
  border: 2px solid #121212;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 1.5% 2%;
}

section {
  background-color: #c0f8b3;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #121212;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

figcaption {
  font-size: 1.6rem;
}
