html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Cambria", Georgia, Serif;
  background-color: #00e846;
  font-size: 1.6rem;
}
* {
  line-height: 140%;
}
p {
  font-size: 1.6rem;
}

h3 {
  font-size: 2.4rem;
}
nav {
  display: block;
  background-color: #00e8ba;
  top: 0;
  overflow: hidden;
  position: sticky;
  border: 5px solid #121212;
}

h1 {
  display: inline-block;
  font-weight: bold;
  margin-left: 4%;
  vertical-align: middle;
  font-size: 6.4rem;
  text-transform: uppercase;
}
.nav-item {
  display: inline;
}
#nav-list {
  display: inline;
}
#main-content {
  padding: 20px;
}
.nav-link {
  vertical-align: middle;
  display: inline;
  color: #121212;
  text-decoration: none;
  list-style-type: none;
  margin: 4%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-size: 2.4rem;
  font-weight: bold;
}

main {
  text-align: center;
}

h2 {
  font-size: 4rem;
  font-style: italic;
}

h3 {
  font-size: 2.4rem;
  font-style: italic;
}
ul {
  text-align: left;
  list-style-type: square;
}
.important-text {
  font-style: italic;
  text-decoration: underline;
}

.treaty-one-text {
  font-weight: bold;
  font-style: italic;
}

#back-to-top {
  font-size: 1.6rem;
  text-decoration: none;
  color: #121212;
}

section {
  background-color: #2ee800;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #121212;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

figcaption {
  font-size: 1.6rem;
}
